.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0rem 1.25rem;
    width: 8.125rem;
    height: 3.75rem;
    border-radius: 0.5rem;

    color: white;
    background-color: var(--color-primary);

    &.small {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 0rem 1.25rem;
        width: 8.125rem;
        height: 2.5rem;
        border-radius: 0.5rem;

        color: white;
        background-color: var(--color-primary);
    }

    &.off {
        background-color: var(--color-grey-600);
    }

}